@model FilmListesi_proje1.Models.Movie

<h1>Film Ekle</h1>

<form asp-action="Create" method="post">

    <input asp-for="MovieName" placeholder="Film Adı" />
    <br><br>

    <input asp-for="Genre" placeholder="Tür" />
    <br><br>

    <button type="submit">Kaydet</button>

</form>
